$r: 50px;
.input {
    border-radius: $r;
    border: 0;
}
.shadow {
    box-shadow: 1px 3px 17px rgba(43, 43, 43, 0.0275623);
}
.large {
    width: 1063px;  
    height: $r;
    padding-left: 10px;
}
.icon {
    width: 20px;
    transform: rotate(-45deg);
    position: relative;
    left: -40px;
    top: 13px;
}