.MenuItems-container{
    width: 250px;
    height: 0px;
    transition: height 0.5s;
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;
    display: block;
    overflow: hidden;
}
.MenuItems-container-false{
    display: none;
}
.MenuItems-container_active {
    height: auto;
    width: 250px;
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;
    display: block;
    position: absolute;
    z-index: 99;
    box-shadow: 3px 7px 18px -10px rgba(0,0,0,0.75);
}
.MenuItems-addItem-container_active {
    height: 250px;
    width: 250px;
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;
    display: block;
    box-shadow: 3px 7px 18px -10px rgba(0,0,0,0.75);
}
.MenuItems-variant-container{
    width: 500px;
    height: 0px;
    transition: height 0.5s;
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;
    display: block;
    overflow: hidden;
}
.MenuItems-variant-container_active {
    height: 160px;
    width: 500px;
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;
    display: block;
    box-shadow: 3px 7px 18px -10px rgba(0,0,0,0.75);
}

.dropdown-area{
    width: 90%;
    position: relative;
    top: 10px;
    margin-bottom: 20px; 
}
.dropdown-items{
    margin-left: 10px;
    padding: 10px;
    font-size: 10pt;
    font-family: sans-serif;
    font-weight: 100;
    border-bottom: 1px solid lightgrey;
    cursor: pointer;
    &:last-of-type{
        border-bottom: none;
    }
}

.MenuItems-container-disabled-small{
   display: none;
}

.MenuItems-container-active-small{
    height: 200px;
    width: 200px;
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;
    display: block;
    position: absolute;
    box-shadow: 3px 7px 18px -10px rgba(0,0,0,0.75);
}

.plan-dropdown-items{
    margin-left: 10px;
    padding: 10px;
    font-size: 20pt;
    font-family: sans-serif;
    font-weight: 500;
    border-bottom: 1px solid lightgrey;
    cursor: pointer;
    &:last-of-type{
        border-bottom: none;
    }
}