@mixin flex(){
    display: flex;
    flex-direction: row;
    align-items: center;
}
.itemContainer {
    @include flex();
    height: 150px;
    border-radius: 15px;
    margin-bottom: 20px;
    width: min-content;
    margin-left: 0px;
    &:active {
        background-color: white;
    }
    div {
        width: 200px;
        @include flex();
        justify-content: center;
        &:first-of-type {
            width: 150px;
            justify-content: flex-start;
        }
        img {
            background-color: white;
            width: 150px;
            height: 150px;
            border-radius: 15px;
        }
        .edit {
            width: 30px;
            height: auto;
            border-radius: 0px;
            background-color: transparent;
        }
        .status {
            width: 34px;
            height: 34px;
        }
    }
}
.selected {
    background-color: white;
}
.itemSelected {
    background-color: '#FFFFFF';
}