@mixin flex(){
    display: flex;
    flex-direction: row;
    align-items: center;
}
.itemContainer {
    @include flex();
    height: 150px;
    border-radius: 15px;
    margin-bottom: 20px;
    width: min-content;
    margin-left: 0px;
    &:active {
        background-color: white;
    }
    div {
        width: 200px;
        @include flex();
        justify-content: center;
        &:first-of-type {
            width: 150px;
            justify-content: flex-start;
        }
        a {
            text-decoration: underline;
        }
        img {
            background-color: white;
            width: 150px;
            height: 150px;
            border-radius: 15px;
        }
        .status_icon {
            background-color: transparent;
            width: 34px;
            height: 34px;
        }
        .edit {
            width: 30px;
            height: auto;
            border-radius: 0px;
            background-color: transparent;
            &:hover {
                cursor: pointer;
            }
        }
        .status {
            width: 34px;
            height: 34px;
        }
    }
    
}
.varants {
    margin: 30px;
    margin-left: 200px;
    display: flex;
    flex-direction: row;
    span {
        &:nth-child(2n+1){
            color: #0096A9;
        }
        margin: 2px;
    }
    div {
        margin-left: 50px;
    }
}
.selected {
    background-color: white;
}
.itemSelected {
    background-color: '#FFFFFF';
}
.hidden {
    display: none;
}
