@mixin flexMiddle(){
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.flexcenter{
    @include flexMiddle();
}

.pricing-box-container{
    width: 90%;
    height: 70%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
}