@import './CategoryCard/categoryCard.scss';

.category_container {
    display: flex;
}
.category_container_boxed {
    max-width: 235px;
    height: 200px;
    border-radius: 20px;
    background-color: #fff;
}