
//Component stylesheets
@import './comps/Button/button.scss';
@import './comps/List/list.scss';
@import './comps/Menu/Menu.scss';
@import './comps/Search/search.scss';
@import './comps/Modal/modal.scss';
@import './comps/Category/category.scss';
@import './comps/CategoryStats/categoryStats.scss';
@import './comps/Header/header.scss';
@import './comps/OrderDetails/orderDetails.scss';
@import './comps/PaymentInfo/paymentInfo.scss';
@import './comps/Notes/notes.scss';
@import './comps/Nav/nav.scss';
@import './comps/Checkmark/checkmark.scss';
@import './comps/PricingBoxes/PricingBox.scss';

//Page stylesheets
@import './pages/Add_Product/Add_Product.scss';
@import './pages/Add_Orders/Add_Orders.scss';
@import './pages/PricingPlan/Pricing.scss';
@import './pages/CheckOutPage/CheckOutPage.scss';



body {
  background-color: #F0F6F7;
  font-family: 'Raleway', sans-serif;
  
}

.main{
  display: flex;
  flex-direction: row;
}

.solution_container{
  flex:5;
  position: relative;
  margin-left: 240px;
}
.hide {
  display: none;
}

.op {
  opacity: 0.1;
  position: absolute;
  z-index: -1;
}
